  .myCard body {
   background-color: #bcd9f5
  }

  .myCard .card {
   max-width: 25rem;
   padding: 0;
   border: none;
   border-radius: 0.5rem
  }

  .myCard a.active {
   border-bottom: 2px solid #55c57a
  }

  .myCard .nav-link {
   color: rgb(110, 110, 110);
   font-weight: 500
  }

  .myCard .nav-link:hover {
   color: #55c57a
  }

  .myCard .nav-pills .nav-link.active {
   color: black;
   background-color: white;
   border-radius: 0.5rem 0.5rem 0 0;
   font-weight: 600
  }

  .myCard .tab-content {
   padding-bottom: 1.3rem
  }

  .myCard .form-control {
   background-color: rgb(241, 243, 247);
   border: none
  }

  .myCard .third {
   padding: 0 1.5rem 0 1.5rem
  }

  .myCard label {
   font-style: italic;
   font-weight:bold;
   color: rgb(110, 83, 83);
   margin: 0px;
   }

  .myCard .card-title-xs {
   font-weight:bold;
   color: rgb(104, 104, 104);  
   margin: 6px;
  }

  .myCard .card-title {
    font-weight: 500;
    text-align: center;
   border-bottom: 2px solid #55c57a;
   color: rgb(104, 104, 104)
   }

  .myCard .btn-success {
   float: right
  }

  .myCard .form-control:focus {
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 7px rgba(0, 0, 0, 0.2)
  }

  .myCard select {
   -webkit-appearance: none;
   -moz-appearance: none;
   text-indent: 1px;
   text-overflow: ""
  }

  .myCard ul {
   list-style: none;
   margin-top: 1rem;
   padding-inline-start: 0
  }

  .myCard .btn {
   color: rgb(145, 236, 236);
   float: right;
   font-weight: bold;
   background-color: #757a7acb;
  }
  .myCard .btn-approve {
    color: rgb(145, 236, 236);
    float: right;
    font-weight: bold;
    background-color: #d35b5bfd;
   }
   