.gr-1{background: linear-gradient(170deg, #01E4F8 0%, #1D3EDE 100%);}
.gr-2{background: linear-gradient(170deg, #B4EC51 0%, #429321 100%);}
.gr-3{background: linear-gradient(170deg, #C86DD7 0%, #3023AE 100%);}

.grey-bg {
    background-color: #F5F7FA;
}
*{transition: .5s;}

