 #card_obe body {
     background-color: #bcd9f5
 }
 
 #card_obe .card {
     max-width: 25rem;
     padding: 0;
     border: none;
     border-radius: 0.5rem
 }
 
 #card_obe a.active {
     border-bottom: 2px solid #55c57a
 }
 
 #card_obe .nav-link {
     color: rgb(110, 110, 110);
     font-weight: normal;
     font-size: 12px
 }
 
 #card_obe .nav-link:hover {
     color: #55c57a
 }
 
 #card_obe .nav-pills .nav-link.active {
     color: black;
     background-color: white;
     border-radius: 0.5rem 0.5rem 0 0;
     font-weight: 300
 }
 
 #card_obe .tab-content {
     padding-bottom: 1.3rem
 }
 
 #card_obe .form-control {
     background-color: rgb(241, 243, 247);
     border: none
 }
 
 #card_obe span {
     margin-left: 0.5rem;
     padding: 1px 10px;
     color: white;
     background-color: rgb(143, 143, 143);
     border-radius: 4px;
     font-weight: 600
 }
 
 #card_obe .third {
     padding: 0 1.5rem 0 1.5rem
 }
 
 #card_obe label {
     font-weight: 500;
     color: rgb(104, 104, 104)
 }
 
 #card_obe .btn-success {
     float: right
 }
 
 #card_obe .form-control:focus {
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 7px rgba(0, 0, 0, 0.2)
 }
 
 #card_obe select {
     -webkit-appearance: none;
     -moz-appearance: none;
     text-indent: 1px;
     text-overflow: ""
 }
 
 #card_obe ul {
     list-style: none;
     margin-top: 1rem;
     padding-inline-start: 0
 }
 
 #card_obe .search {
     padding: 0 1rem 0 1rem
 }
 
 #card_obe .ccontent li .wrapp {
     padding: 0.3rem 1rem 0.001rem 1rem
 }
 
 #card_obe .ccontent li .wrapp div {
     font-weight: 600
 }
 
 #card_obe .ccontent li .wrapp p {
     font-weight: 360
 }
 
 #card_obe .ccontent li:hover {
     background-color: rgb(117, 93, 255);
     color: white
 }
 
 #card_obe .addinfo {
     padding: 0 1rem
 }
 
 #card_obe .btn {
     color: white;
     float: right;
     background-color: #228B22;
 }
 
 table {
     table-layout: fixed;
     width: 100%;
 }
 
 th {
     font-size: 13px;
 }
 
 td {
     border-style: solid;
     border-width: 5px;
     border-color: #ca1111;
     word-wrap: break-word;
 }